[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipdb = "*"

[packages]
django = "*"
django-restframework = "*"
redis = "*"
dj-database-url = "*"
django-rest-framework = "*"
django-cors-headers = "*"
celery = "*"
psycopg2 = "*"
requests = "*"
uwsgi = "*"
django-nested-admin = "*"
django-mptt = "*"

[requires]
python_version = "3.7"
