[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipdb = "*"

[packages]
django = "*"
django-rest-framework = "*"
dj-database-url = "*"
django-cors-headers = "*"
psycopg2 = "*"
uwsgi = "*"
django-mptt = "*"
django-admin-autocomplete-filter = {git = "https://github.com/farhan0581/django-admin-autocomplete-filter.git",editable = true}
django-admin-numeric-filter = "*"
celery = "*"

[requires]
python_version = "3.7"
