.agenda {
  position: relative;
  width: 100%;
  overflow: auto;
  position: relative;
  max-height: 70vh;
  .espacos-header {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    padding-left: 60px;
    background-color: #FFF;
    z-index: 200;
    .espaco-header {
      border-bottom: 1px solid rgba(0,0,0, 0.7);
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background-color: #FFF;
      border-left: 1px solid #cccccc;
      float: left;
      font-family: "fugue";
      padding: 10px 0px;
      text-align: center;
    }
    .espaco-header:first-child {
      border-left: 0;
    }
  }
  .horarios-header {
    position:-webkit-sticky;
    position: sticky;
    padding-top: 41px;
    z-index: 40;
    height: 0;
    left: 0;
    border: 0;
    .horario-header {
      font-family: "fugue";
      border-top: 0;
      border-right: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      width: 59px;
      .horario {
        padding: 0 0 0 24px;
        font-family: Fugue;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 100%;
        width: 59px;
      }
    }
  }
  .canvas {
    z-index: 100;
    .colunas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .coluna {
	border: 1px solid #cccccc;
        height: 100%;
        float: left;
        z-index: 50;
      }
    }
    .container {
      position: relative;
      left: 61px;
      .grid-row {
        position: absolute;
        left: 0;
        border-bottom: 1px solid #cccccc;
      }
      .column {
        position: absolute;
        border: 1px solid #cccccc;
        border-top: 0;
        border-left: 0;
        position: relative;
        float: left;
        .atividade-container {
          position: absolute;
          margin: 0;
          background-color: #f9f9f9;

          .atividade {
            position: relative;
            z-index: 100;
            width: 98%;
            height: 98%;
            .box {
              padding: 10px;
              label {
                font-family: "fugue";
                font-size: 10px;
              }
              h4 {
                font-family: "staatliches";
                color: #907CFF;
                margin: 0;
                text-transform: uppercase;
                font-size: 20px,
              }
              h5 {
                font-family: "fugue";
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
