@import '../../styles/variables';

.selectday {
  position: relative;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "fugue";
  text-transform: uppercase;
  background-color: #000;

  a.dia {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }

  label {
    color: #fff;
  }

  span {
    color: $primary;
  }

  img {
    height: 1.5rem;
    padding: 0 2rem;
  }

  .seta {
    cursor: pointer;
  }

  .options {
      position: absolute;
      top: 79px;
      width: 300px;
      background-color: #000;
      width: 100%;
      border-top: 1px solid #999999;
      z-index: 10;

      .dia {
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #999999;
	cursor: pointer;
	&:hover {
	  background-color: #333;
	}
      }

  }

}
